@model WebApplication.Models.Alert
@{
    ViewBag.Title = "Editar Alerta";
}
@section Style {
    <style>
        #titulo {
            text-align: center;
        }

        #formulario {
            margin-left: 0;
            margin-right: 270px;
        }

        textarea {
            resize:none;
        }

        .condition-container {
            margin: 10px;
            padding: 5px;
        }

    </style>
}

<div id="formulario" class="row">
    <form id="form_editar_alerta" method="patch" action="/api/alert/@Model.AlertId">
        <div id="titulo" class="form-group col-lg-12 col-md-12">
            <h2>Edición de alerta</h2>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nombre: </label>
            <input id="nombre_alerta" class="form-control" type="text" name="nombre_alerta" value="@Model.Name" required>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nivel: </label>
            <select id="tipo_alerta" name="tipo_alerta" class="form-control" alerttype="@Model.AlertType" required="">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="3">3 - Incidente Crítico</option>
                    <option value="2">2 - Emergencia Situacional</option>
                    <option value="1">1 - Crisis</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12">
            <a id="info-niveles" class="text-muted" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Mas información sobre los niveles</a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        <li><p class="text-info">3: A Level Three emergency is a minor emergency or critical incident that has the potential to require more resources than the responding department has available</p></li>
                        <li><p class="text-warning">2: A Level Two emergency is one that requires a major response and the significant commitment of resources from several University departments or units, but will still be within the capabilities of the University to control</p></li>                        
                        <li><p class="text-danger">1: A Level One emergency is a major emergency, major crisis, or disaster that requires an extensive response and commitment of resources from many departments/units and usually requires outside assistance</p></li>
                    </ul>
                    <a class="tex-muted" href="https://www.gallaudet.edu/public-safety/emergency-preparedness-guide/definitions-of-types-and-levels-of-emergencies">Fuente ↪</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <label>Correos a Notificar: </label>
            <input id="correos_notificacion" class="form-control" type="text" name="correos_notificacion" value="@String.Join(';',Model.Mailto.ToArray())" required>
        </div>
        <div class="col-lg-12 col-md-12">
            <p class="text-muted">Ingrese cada correo separado por ;</p>
        </div>
        <div class="col-lg-12 col-md-12">
            <label>Mensaje: </label>
            <textarea id="mensaje_alerta" class="form-control" type="text" name="mensaje_alerta" rows="3" required>@Model.Message</textarea>
        </div>
        <div id="subtitulo" class="form-group col-lg-12 col-md-12">
            <h4>Notificar cuando: </h4>
        </div>
        <input id="conditions_number" hidden="" name="conditions_number" value="@Model.Conditions.Count()"></input>
        <div id="conditions">
            @for (var i = 1; i <= @Model.Conditions.Count(); i++)
            {
                <div class="condition-container">
                    <div class="col-md-3">
                        <label> Estación: </label>
                        <select class="form-control" id='estacion_alerta_@i' name='estacion_alerta_@i' sel=@Model.Conditions[i-1].StationId>
                            <option hidden="" value="">Escoja una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label> Sensor: </label>
                        <select class="form-control" id="sensor_alerta_@i" name="sensor_alerta_@i" sel="@Model.Conditions[i-1].SensorId">
                            <option hidden="" value="">Escoja una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label> Condición: </label>
                        <select class="form-control" id="condicion_alerta_@i" name="condicion_alerta_@i" sel="@Model.Conditions[i-1].Comparison">
                            <option hidden="" value="">Escoja una opción</option>
                            <option value="MAYOR QUE">mayor que</option>
                            <option value="MENOR QUE">menor que</option>
                            <option value="IGUAL QUE">igual que</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label> Valor: </label>
                        <input class="form-control" id="threshold_alerta_@i" name="threshold_alerta_@i" type="text" value=@Model.Conditions[i-1].Threshold>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-12">
            <label> </label>
            <a class="btn btn-primary" onclick="addCondition()">+</a>
        </div>
        <div id="boton_alerta" class="form-group col-lg-12 col-md-12">
            <button class="btn btn-primary" type="submit">Editar Alerta</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        var i = 0;

        
        $(document).ready(function(){
            i = $('#conditions_number').attr('value');
            addSelectedAlertType();
            addSelectedConditionInfo();
            alert_input_changed = [];
        });
        
        $("#formulario .form-control").change(function () {
            var input_id = $(this).attr("id");
            if(!alert_input_changed.includes(input_id)) {
                alert_input_changed.push(input_id);
            }
            console.log("Input changed: "+input_id);
        });

        function addSelectedAlertType(){
            alerttype = $('#tipo_alerta').attr('alerttype');
            $("#tipo_alerta option[value="+alerttype+"]").prop('selected', true);
        }
        
        function addCondition(){
            i++;

            $('#conditions_number').attr('value',i);
            let divContainer = $('<div></div>');
            divContainer.attr('class','condition-container');

            let divStation= $('<div></div>');
            divStation.attr('class','col-md-3');
            let labelStation = $('<label></label>');
            labelStation.text('Estación: ');
            let selectStation = $('<select></select>');
            addAttributes(selectStation, 'estacion');
            appendDefaultOption(selectStation);
            divStation.append(labelStation);
            divStation.append(selectStation);
            divContainer.append(divStation);

            let divSensor = $('<div></div>');
            divSensor.attr('class','col-md-3');
            let labelSensor = $('<label></label>');
            labelSensor.text('Sensor: ');
            let selectSensor = $('<select></select>');
            addAttributes(selectSensor, 'sensor');
            appendDefaultOption(selectSensor);
            divSensor.append(labelSensor);
            divSensor.append(selectSensor);
            divContainer.append(divSensor);

            let divCondition = $('<div></div>');
            divCondition.attr('class','col-md-3');
            let labelCondition = $('<label></label>');
            labelCondition.text('Condición: ');
            let mayorque = $('<option></option>');
            mayorque.attr('value', 'MAYOR QUE');
            mayorque.text("mayor que");
            let menorque = $('<option></option>');
            menorque.attr('value','MENOR QUE');
            menorque.text("menor que");
            let igualque = $('<option></option>');
            igualque.attr('value','IGUAL QUE');
            igualque.text("igual que");
            let selectCondition = $('<select></select>');
            addAttributes(selectCondition, 'condicion');
            appendDefaultOption(selectCondition);
            selectCondition.append(mayorque);
            selectCondition.append(menorque);
            selectCondition.append(igualque);
            divCondition.append(labelCondition);
            divCondition.append(selectCondition);
            divContainer.append(divCondition);

            let divValue= $('<div></div>');
            divValue.attr('class','col-md-2');

            let labelValue = $('<label></label>');
            labelValue.text('Valor: ');

            let inputValue = $('<input></input>');
            addAttributes(inputValue, 'threshold');
            inputValue.attr('type','text');

            divValue.append(labelValue);
            divValue.append(inputValue);
            divContainer.append(divValue);
            $("#conditions").append(divContainer);

            addStations();
            addOnChange();
        }

        function appendDefaultOption(select){
            let defaultOption = $('<option></option>');
            defaultOption.attr('hidden','""');
            defaultOption.attr('value','""');
            defaultOption.text('Escoja una opción');
            select.append(defaultOption);
        }

        function addAttributes(input, inputname){
            input.attr('class', 'form-control');
            input.attr('name', inputname+'_alerta_'+i);
            input.attr('id', inputname+'_alerta_'+i);
        }

        function addStations(){
            $.ajax({
                url:"/api/Station/list",
                dataType:'json',
                async: false,
                success: function(response) {
                    $.each(response, function(idx, station) {
                        let option = $("<option></option>");
                        option.text(station.Name);
                        option.attr("id",station.Id)
                        option.attr("value",station.Id)
                        $("#estacion_alerta_"+i).append(option);
                    });
                }
            });
        }


        function addOnChange() {
           $("#estacion_alerta_"+i).change(function(){
                let id = $(this).val();
                $.ajax({
                    url:"/api/Station/"+id+"/Sensor",
                    dataType:'json',
                    async: false,
                    success: function(response) {
                        $("#sensor_alerta_"+i).empty();
                        $.each(response, function(idx, sensor) {
                            let option = $("<option></option>");
                            let name = sensor.Type + " - " + sensor.Location;
                            option.text(name);
                            option.attr("value",sensor.Id);
                            $("#sensor_alerta_"+i).append(option);
                        });
                    }
                });
            });
        }

        function addSelectedConditionInfo() {
            for (let idx=1; idx <= i; idx++){
                $.ajax({
                    url:"/api/Station/list",
                    dataType:'json',
                    async: true,
                    success: function(response) {
                        $.each(response, function(idx2, station) {
                            let option = $("<option></option>");
                            option.text(station.Name);
                            option.attr("id",station.Id)
                            option.attr("value",station.Id)
                            if (station.Id == $("#estacion_alerta_"+idx).attr('sel')){
                                option.prop('selected', true);
                            }
                            $("#estacion_alerta_"+idx).append(option);
                            addSelectedSensor(idx, station)
                        });
                    }
                });

                
                $("#estacion_alerta_"+idx).change(function(){
                let id = $(this).val();
                console.log(id)
                $.ajax({
                    url:"/api/Station/"+id+"/Sensor",
                    dataType:'json',
                    async: true,
                    success: function(response) {
                        $("#sensor_alerta_"+idx).empty();
                        $.each(response, function(idx2, sensor) {
                            let option = $("<option></option>");
                            let name = sensor.Type + " - " + sensor.Location;
                            option.text(name);
                            option.attr("value",sensor.Id);
                            $("#sensor_alerta_"+idx).append(option);
                        });
                    }
                });
                });
                addSelectedCondition(idx);
            }
            
        }


        function addSelectedSensor(idx, station){
           $.ajax({
                url:"/api/Station/"+station.Id+"/Sensor",
                dataType:'json',
                async: true,
                success: function(response) {
                    $("#sensor_alerta_"+idx).empty();
                    $.each(response, function(idx2, sensor) {
                    let option = $("<option></option>");
                    let name = sensor.Type + " - " + sensor.Location;
                    option.text(name);
                    option.attr("value",sensor.Id);
                    if (sensor.Id == $("#sensor_alerta_"+idx).attr('sel'))
                        option.prop('selected', true);
                    $("#sensor_alerta_"+idx).append(option);
                    });
                }
            }); 
        }

        function addSelectedCondition(idx){
            condicion_alerta = $('#condicion_alerta_'+idx).attr('sel');
            console.log(condicion_alerta);
            $("#condicion_alerta_"+idx+" option[value='"+condicion_alerta+"']").prop('selected', true);
        }
        

    </script>
}