
@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel

@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "Alarm";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}

<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

<!-- Font awesome -->
<link href="assets/css/font-awesome.css" rel="stylesheet">

<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> 

<!-- Slick slider -->
<link rel="stylesheet" type="text/css" href="wwwroot/lib/bootstrap/slick.css">    

<!-- Main style sheet -->
<link href="~/css/site.css" rel="stylesheet">    

<!-- Google Fonts -->

<!-- Prata for body  -->
<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
<!-- Tangerine for small title -->
<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>   
<!-- Open Sans for title -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>



<!-- Start About us -->
<section id="mu-about-us">
<!--
<img src="@Url.Content("~/images/plants.jpg")" alt="imgf"/> 
-->
  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mu-about-us-area">

        <div class="mu-title">
          <br />
          <h2>Alarm</h2>
        </div>


        <form method="post" enctype="#mu-about-ustipart/form-data" action="/Alarm">
          <div class="form-group">
            <table class="table table-bordered" id="vertical-table">
              
              <tr><th><label for="ddl">Device </label></th> 
                <td>    
                @Html.DropDownList("ddl", Model.deviceFolders.Select(item => new SelectListItem
                {
                    Value = item.ToString(),
                    Text = item.ToString(),
                    Selected = item == Model.selected

                }), new { onchange = "this.form.submit();" })
                </td>    
              </tr>

              <tr><th><label id="ReportBeginDate">Report Begin Date </label></th>
                <td>  
                  <input type="date" name="start" value="@if (Model.start != null) {@Model.start_d.ToString("yyyy-MM-dd"); }else{@DateTime.Today.ToString("yyyy-MM-dd");}" />
                </td>
              </tr>
          
              <tr><th><label id="ReportEndDate">Report End Date</label></th>
                <td>  
                  <input type="date" name="end" value="@if (Model.end != null) {@Model.end_d.ToString("yyyy-MM-dd"); }else{@DateTime.Today.ToString("yyyy-MM-dd");}" />
                </td>  
              </tr>  
          
            </table>

            <br />
            <button type="submit" id="out">Search</button><br /><br /><br />
          </div> 
        </form>
             

        
          <div class="table-responsive">
            <table class="table table-bordered" id="horizontal-table">
                <thead>
                  <!-- <th>#</th> -->
                  <th><button id="selectAll">Select All</button></th>
                  <th>Device</th>
                  <th>Name File</th>
                  <th>Play</th>
                  <th>Date Created</th>
                  <th>Time &nbsp; &nbsp; &nbsp; </th>
                  <th>Label &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="glyphicon glyphicon-search"></i></th>
                </thead>

                <form method="post" enctype="multipart/form-data" action="/Download/DownloadFiles">
                @foreach (var item in Model.filesSorted)
                {
                  <tr>
                    @if (Model.start != null && Model.end != null)
                    {
                        @if (Model.start_d.CompareTo(item.LastModified.AddHours(-5).Date) <= 0 && Model.end_d.CompareTo(item.LastModified.AddHours(-5).Date) >= 0 && (item.Name.ToString().Substring(item.Name.ToString().IndexOf('.'), 5) == ".flac") && item.Name.ToString().Length == 18)
                        {
                            <td>
                                <input type="checkbox" class="check">@Html.ActionLink(@item.Name, "DownloadUniqueFile", "Download", new { namefile = @item.Name, device = @Model.selected },null)
                            </td>
                            <td>
                                @Html.ActionLink(@item.Name, "DownloadUniqueFile", "Download", new { namefile = @item.Name, device = @Model.selected },null)
                            </td>
                            <td>
                                @Html.ActionLink(@item.Name, "DownloadUniqueFile", "Download", new { namefile = @item.Name, device = @Model.selected },null)
                            </td>
                            <td>
                                @item.LastModified.AddHours(-5).ToString("dd/MMM/yyyy")
                            </td>
                            <td>
                                @item.LastModified.AddHours(-5).ToString("HH:mm:ss")
                            </td>

                          }
                        }
                        else
                        {
                          <td>
                            @Html.ActionLink(@item.Name, "DownloadUniqueFile", "Download", new { namefile = @item.Name, device = @Model.selected }, null))
                          </td>
                        }
                  </tr>
                }
                
              </table>

            <input type="hidden" name="start" value="@if (Model.start != null) {@Model.start_d.ToString("yyyy-MM-dd"); }" />
            <input type="hidden" name="end" value="@if (Model.end != null) {@Model.end_d.ToString("yyyy-MM-dd"); }" />
            <input id="ddt" name="device" type="hidden" value="@Model.selected" />
            <br />
            <button type="submit" id="out">Download</button><br /><br /><br /> 
          </div>        
        </form>                                        
      </div>
    </div>      
  </div>
</div>
</section>
<script>
  $('#selectAll').change(function() {
      var checkboxes = $(this).closest('form').find(':checkbox');
      checkboxes.prop('checked', $(this).is(':checked'));
  });
</script>
