@using Microsoft.Extensions.FileProviders
@model IEnumerable<WebApplication.Models.Sensor>
@{
    ViewBag.Title = "Estadísticas";
}

@section Style {
  <link rel="stylesheet" type="text/css" href="~/css/stationView.css">
}

<!---div class="tab"> 
  <button class="tablinks" name="monitor" id="defaultOpen" url='@Url.Action("Index","StationView", new{ stationName = @ViewData["stationName"] , stationId = @ViewData["stationId"] })'>
    <i class="fa fa-television tabL" aria-hidden="true"></i>
    <p class="tabMonitor">Realtime</p>
  </button>
  New tabs
</div-->

<div style = "background-color:white; position:fixed;z-index:20000; width:75%; border-bottom: 1px solid #ccc;">  
  <h3 id="stationName" style="text-align: center; color: #e4b836; font-weight: bold;">Datos en tiempo real</h3>
  <p class="text-center">@ViewData["stationName"].ToString()</p>
  <!--h5 class="text-muted" style=" text-align: center; width: 200px; margin:0px 0px 5px 5px;border: 1px solid #ccc; border-radius:10px; padding:10px;" > </h5-->
</div>


<!--MONITOR-->
<div id="monitor" class="tabcontent" onload="display(this)" style="margin-top:15%; text-align: center; margin-bottom:10%;">
  <p id="stationId" style="display:none">@ViewData["stationId"].ToString()</p>
</div>

@section Scripts {   
  <script src="~/js/moment.js" type="text/javascript"></script>
  <script src="~/js/charts/canvasjs-2.1.2/canvasjs.min.js" type="text/javascript"></script>
  <script src="~/js/charts/simple-statistics/simple-statistics.min.js" type="text/javascript"></script>  
  <script src="~/js/charts/monitor.js" type="text/javascript"></script>
  <!--script src="js/charts/simulator.js" type="text/javascript"></script-->
}