@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "DeviceView";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}
<link rel="stylesheet" type="text/css" href="~/css/deviceView.css">
<link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>
<script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>


<div class="tab">
      <button class="tablinks" name="monitor" onclick="openDevice(event, 'monitor')" id="defaultOpen"><i class="material-icons">&#xe30c;</i>  Monitor</button>
      <button class="tablinks" name="temp_amb" onclick="openDevice(event, 'temp_amb')" onfocus="displayEachChart()"><i class="fa fa-thermometer" style="font-size:30px;"></i>  Temperatura - Ambiente</button>
      <button class="tablinks" name="temp_disp" onclick="openDevice(event, 'temp_disp')" onfocus="displayEachChart()"><i class="fa fa-thermometer" style="font-size:30px;"></i>  Temperatura - Dispositivo</button>
      <button class="tablinks" name="humedad" onclick="openDevice(event, 'humedad')" onfocus="displayEachChart()"><i class="fa fa-tint" style="font-size:30px;";></i>  Humedad</button>
</div> 
    <div id="monitor" class="tabcontent" onload="display(this)">
      <h3 style="text-align: center;">Dispositivo @ViewData["deviceName"].ToString()</h3>
      <!--h3>Monitor</h3-->
      <div class="col-sm-12 col-md-6 col-lg-6 sensores_monitor">
        <h4 class="titulo_sensor">Sensor: Temperatura - Ambiente</h4>
        <div id="chartMonitorAmb" style="height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initialMon"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minMonHum"></p>
          <p class="boxLetters middle" ><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxMonHum"></p>
          <p class="boxLetters last"><i class="fa  iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgMonHum"></p>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 sensores_monitor">
        <h4 class="titulo_sensor">Sensor: Temperatura - Dispositivo</h4>
        <div id="chartMonitorDisp" style="height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initialMon"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minMonDisp"></p>
          <p class="boxLetters middle" ><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxMonDisp"></p>
          <p class="boxLetters last"><i class="fa  iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgMonDisp"></p>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 sensores_monitor">
        <h4 class="titulo_sensor">Sensor: Humedad - Ambiente</h4>
        <div id="chartMonitorHum" style="height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initialMon"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minMonAmb"></p>
          <p class="boxLetters middle" ><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxMonAmb"></p>
          <p class="boxLetters last"><i class="fa  iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgMonAmb"></p>
        </div>
      </div>
    </div>

    <!--SENSORES INDIVIDUALES -->

    <div id="temp_amb" class="tabcontent activo">
      <h3 style="text-align: center;" class="main-title">@ViewData["deviceName"].ToString()</h3>
      <h4 class="chart-title">Sensor: Temperatura - Ambiente</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer1" style="height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters  initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minValueAmb"></p>
          <p class="boxLetters middle"><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueAmb"></p>
          <p class="boxLetters last"><i class="fa iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueAmb"></p>
        </div>
      </div>
      <!--div id='chart_div' style='width: 700px; height: 240px;'></div-->
      
    </div>
    
    <div id="temp_disp" class="tabcontent">
      <h3 style="text-align: center;" class="main-title">@ViewData["deviceName"].ToString()</h3>
      <h4 class="chart-title">Sensor: Temperatura - Dispositivo</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer2" style="width: 100%; height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min: </p><p class="boxLetters initialValue"  id="minValueDisp"></p>
          <p class="boxLetters middle"><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueDisp"></p>
          <p class="boxLetters last"><i class="fa iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueDisp"></p>
        </div>
      </div>	
    </div>
      <!--div id="temp_disp_chart"></div-->
      <div id="humedad" class="tabcontent">
      <h3 style="text-align: center;" class="main-title">@ViewData["deviceName"].ToString()</h3>
      <h4 class="chart-title">Sensor: Humedad - Ambiente</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer3" style="width: 100%; height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minValueHum"></p>
          <p class="boxLetters middle" ><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueHum"></p>
          <p class="boxLetters last"><i class="fa  iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueHum"></p>
        </div>
      </div>
    </div>
  </div>


@section Scripts {
  <!--jscript charts-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/canvasjs.min.js"></script>
  <!--script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script-->

  <script type="text/javascript" src="js/chartResumen.js"></script>
  <script type="text/javascript" src="js/monitor.js"></script> 


    <script>
    function openDevice(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
  
 }