@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "StationView";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}
<link rel="stylesheet" type="text/css" href="~/css/stationView.css">
<link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>
<script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>


<div class="tab">
      <button class="tablinks" name="monitor" onclick="openStation(event, 'monitor')" id="defaultOpen"><i class="material-icons">&#xe30c;</i>  Monitor</button>
      <button class="tablinks" name="temp_amb" onclick="openStation(event, 'temp_amb')" onfocus="displayEachChart()"><i class="fa fa-thermometer" style="font-size:30px;"></i>  Temperatura - Ambiente</button>
      <button class="tablinks" name="temp_disp" onclick="openStation(event, 'temp_disp')" onfocus="displayEachChart()"><i class="fa fa-thermometer" style="font-size:30px;"></i>  Temperatura - Dispositivo</button>
      <button class="tablinks" name="humedad" onclick="openStation(event, 'humedad')" onfocus="displayEachChart()"><i class="fa fa-tint" style="font-size:30px;";></i>  Humedad</button>
</div> 
    <div id="monitor" class="tabcontent" onload="display(this)">
      <h3 style="text-align: center; color: #e4b836; font-weight: bold;">@ViewData["stationName"].ToString()</h3>
      <p id="stationId" style="display:none">@ViewData["stationId"].ToString()</p>
    </div>

    <!--SENSORES INDIVIDUALES -->

    <div id="temp_amb" class="col-sm-12 col-md-12 col-lg-12 tabcontent activo">
      <h4 class="chart-title">@ViewData["stationName"].ToString()/Temperatura - Ambiente</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer1" style="height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters  initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minValueAmb"></p>
          <p class="boxLetters middle"><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueAmb"></p>
          <p class="boxLetters last"><i class="fa iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueAmb"></p>
        </div>
      </div>
    </div>
    
    <div id="temp_disp" class="col-sm-12 col-md-12 col-lg-12 tabcontent">
      <h4 class="chart-title">@ViewData["stationName"].ToString()/Temperatura - Dispositivo</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer2" style="width: 100%; height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min: </p><p class="boxLetters initialValue"  id="minValueDisp"></p>
          <p class="boxLetters middle"><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueDisp"></p>
          <p class="boxLetters last"><i class="fa iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueDisp"></p>
        </div>
      </div>	
    </div>
      <!--div id="temp_disp_chart"></div-->
      <div id="humedad" class="col-sm-12 col-md-12 col-lg-12 tabcontent">
      <h4 class="chart-title">@ViewData["stationName"].ToString()/Humedad - Ambiente</h4>
      <div class="col-md-12" style="background-color: #fff;">
        <div id="chartContainer3" style="width: 100%; height: 320px"></div>
        <div id="boxInfoValues">
          <p class="boxLetters initial"><i class="material-icons iconsMinMax">&#xe15d;</i> Min </p><p class="boxLetters initialValue"  id="minValueHum"></p>
          <p class="boxLetters middle" ><i class="material-icons iconsMinMax">&#xe148;</i> Max </p><p class="boxLetters middleValue" id="maxValueHum"></p>
          <p class="boxLetters last"><i class="fa  iconsAvg">&#xf10c;</i> Avg</p><p class="boxLetters lastValue" id="avgValueHum"></p>
        </div>
      </div>
    </div>
  </div>


@section Scripts {
  <!--jscript charts-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/canvasjs.min.js"></script>
  <!--script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script-->

  <script type="text/javascript" src="js/chartResumen.js"></script>
  <script type="text/javascript" src="js/monitor.js"></script> 
  
 }